* { font-size: 1.05em; transition: .5s ease all; background-color: #1e1e1e; }
pre { color: #DCDCDC; }

.string { color: #CE9178; }
.keyword { color: #2C7CD6 }
.line-number { color: #636363 }
.comment { color:#659250 }

a { text-decoration: none; color: #CE9178; }
a:hover { color: #a1a1a1; }